<mat-toolbar id="toolbar">  </mat-toolbar>
<div class="container">
    <div fxLayout="row wrap" fxLayout.lt-sm="column"  fxLayoutGap="10px" fxLayoutAlign="start center">
            <mat-card class="example-card" fxFlex="40%">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Pontificia Universidad Católica de Valparaiso   </mat-card-title>
                        <mat-card-subtitle> 2008 - 2013 </mat-card-subtitle>
                        <img mat-card-sm-image src="pucv.png" >
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <p>Ingeniero en Informática</p>
                    <ul>
                        <li>Patrones de diseño y desarrollo de aplicaciones, manejo de datos,
                            diseño responsivo.</li>
                    </ul>
                </mat-card-content>
            </mat-card>
    </div>
</div>
<footer>Hecho con <a href="https://v18.angular.dev/">Angular 18</a> y <a href="https://material.angular.dev/">Angular Material</a></footer>