<mat-toolbar id="toolbar"> </mat-toolbar>
<div class="container">
    <div fxLayout="row wrap" fxLayout.lt-sm="column"  fxLayoutGap="10px">
            <mat-card class="example-card"  fxFlex="30%">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Lista de lenguajes</mat-card-title>
                        <img mat-card-sm-image src="code-logo.png" >
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item><img matListItemIcon class="small" src="java-logo.png" ><div matListItemTitle>Java JDK 6 o superior</div></mat-list-item>
                        <mat-list-item><img matListItemIcon class="small" src="python-logo.png" ><div matListItemTitle>Python 2.7 a 3.2</div></mat-list-item>
                        <mat-list-item><img matListItemIcon class="small" src="spring-logo.png" ><div matListItemTitle>Spring Framework/Boot/Cloud</div></mat-list-item>
                        <mat-list-item><img matListItemIcon class="small" src="csharp_logo.png" ><div matListItemTitle>C#</div></mat-list-item>
                        <mat-list-item><img matListItemIcon class="small" src="angular-logo.png" ><div matListItemTitle>Angular JS o superior</div></mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card" fxFlex="30%">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Patrones de diseño</mat-card-title>
                        <img mat-card-sm-image src="diagrama.png" >
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item><img matListItemIcon class="small" src="mvc.jpeg" ><div matListItemTitle>Modelo Vista Controlador</div></mat-list-item>
                        <mat-list-item><img matListItemIcon class="small" src="microservicio.jpg" ><div matListItemTitle>Microservicios</div></mat-list-item>
                        <mat-list-item><img matListItemIcon class="small" src="mvvm.jpeg" ><div matListItemTitle>Modelo Vista/Vista modelo</div></mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card" fxFlex="30%">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Base de datos</mat-card-title>
                        <img mat-card-sm-image src="base-datos.png" >
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item><img matListItemIcon class="small" src="oracle_sql.jpeg" ><div matListItemTitle>Oracle SQL</div></mat-list-item>
                        <mat-list-item><img matListItemIcon class="small" src="mysql.png" ><div matListItemTitle>MySql</div></mat-list-item>
                        <mat-list-item><img matListItemIcon class="small" src="mongoDB.png" ><div matListItemTitle>MongoDb</div></mat-list-item>
                        <mat-list-item><img matListItemIcon class="small" src="postgresql.png" ><div matListItemTitle>PostgreSQL</div></mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card" fxFlex="30%">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Manejo de Versiones CI/CD</mat-card-title>
                        <img mat-card-sm-image src="CICD.png" >
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item><img matListItemIcon class="small" src="git.png" ><div matListItemTitle>Git</div></mat-list-item>
                        <mat-list-item><img matListItemIcon class="small" src="liquibase.png" ><div matListItemTitle>Liquibase</div></mat-list-item>
                        <mat-list-item><img matListItemIcon class="small" src="atlassian.png" ><div matListItemTitle>Suite Atlassian: Bamboo - Bitbucket</div></mat-list-item>
                        <mat-list-item><img matListItemIcon class="small" src="sonarqube.png" ><div matListItemTitle>SonarQube</div></mat-list-item>
                        <mat-list-item><img matListItemIcon class="small" src="veracode.png" ><div matListItemTitle>Veracode</div></mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card" fxFlex="30%">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Cobertura (Test unitarios - integración)</mat-card-title>
                        <img mat-card-sm-image src="coverage.png" >
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item><img matListItemIcon class="small" src="junit.png" ><div matListItemTitle>Junit</div></mat-list-item>
                        <mat-list-item><img matListItemIcon class="small" src="mockito.png" ><div matListItemTitle>Mockito</div></mat-list-item>
                        <mat-list-item><img matListItemIcon class="small" src="atlassian.png" ><div matListItemTitle>PowerMock</div></mat-list-item>
                        <mat-list-item><img matListItemIcon class="small" src="sonarqube.png" ><div matListItemTitle>Jazmine</div></mat-list-item>
                        <mat-list-item><img matListItemIcon class="small" src="spring-test.png" ><div matListItemTitle>Spring Test</div></mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card" fxFlex="30%">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Tecnologias Cloud - Virtualización</mat-card-title>
                        <img mat-card-sm-image src="cloud.png" >
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item><img matListItemIcon class="small" src="azure.png" ><div matListItemTitle>Microsoft Azure</div></mat-list-item>
                        <mat-list-item><img matListItemIcon class="small" src="aws.png" ><div matListItemTitle>AWS</div></mat-list-item>
                        <mat-list-item><img matListItemIcon class="small" src="docker.png" ><div matListItemTitle>Docker - Kubernetes</div></mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
    </div>
</div>
<app-footer></app-footer>