html{     
    position: relative;
    min-height: 100%; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color:rgb(204, 201, 201) ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    padding: 10px;
    margin: auto;
    background-color: rgb(204, 201, 201);
    position: relative;
}
    
.example-card {
    max-width: 500px;
    margin-bottom: 10px;
}

#toolbar{
    background-color: #374151;
}