<mat-toolbar id="toolbar">  </mat-toolbar>
<div class="container">
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px">
            <mat-card class="example-card" fxFlex="30%">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>ApiUx</mat-card-title>
                        <mat-card-subtitle>12/2024 - 04/2025</mat-card-subtitle>
                        <img mat-card-sm-image src="ux.jpeg" >
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <p>Desarrollador BackEnd</p>
                    <ul>
                        <li>Soporte (basado en Tickets Aranda) de aplicativos web basados en
                            Jboss (Spring y Javax), integración a Oracle SQL con Hibernate,
                            Javascript (extJs) y Angular, desarrollo de APIs REST que consume
                            servicios REST, SOAP, versionamiento Subversion y Git; generacion de
                            pdfs y csv.</li>
                    </ul>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card" fxFlex="60%">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>NTTData</mat-card-title>
                        <mat-card-subtitle>01/2019 - 07/2024</mat-card-subtitle>
                        <img mat-card-sm-image src="ntt.jpeg" >
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <p>Solution Analist Senior</p>
                    <ul>
                        <li> Participa en la migración de Oracle Siebel CRM en Banco Chile,
                            utilizando Spring, Angular y Oracle SQL en entornos ágiles SCRUM,
                            con herramientas como Atlassian, Git y CI/CD Bamboo.</li>
                        <br>
                        <li>Contribuye al desarrollo de APIs REST en Java (7 y 8) con Spring Framework, bajo
                            servidor Weblogic, y microservicios en Java (11, 17) con Spring Boot y
                            Docker, que consumen servicios REST, SOAP y realizan conexiones a
                            bases de datos. Además, aplica autenticaciones OAUTH y JWT.</li>
                        <br>
                        <li>Trabaja en el desarrollo de componentes AngularJS y versiones
                            superiores, que consumen servicios REST y microservicios, utilizando
                            JWT y OAUTH para la seguridad. También utiliza hojas de estilo CSS,
                            Bootstrap y Angular Material para mejorar la interfaz de usuario.</li>
                        <br>
                        <li>Implementa API REST, microservicios y componentes Angular (JS y
                            versiones superiores) para la automatización de ventas y aplicaciones
                            de registro de clientes, así como soluciones para la automatización
                            de contratos, optimizando el tiempo de llenado de documentos.</li>
                    </ul>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card" fxFlex="30%">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>AgileSolutionsSpa</mat-card-title>
                        <mat-card-subtitle>04/2018 - 12/2018</mat-card-subtitle>
                        <img mat-card-sm-image src="company.png" >
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <p>Desarrollador FullStack</p>
                    <ul>
                        <li>Participa en la migración de Oracle Siebel CRM en Banco Chile,
                            usando Spring, Angular y Oracle SQL en entornos ágiles SCRUM,
                            suite atlassian, git, CI/CD Bamboo; contenedores Docker y desarrollo
                            de página para mantención de datos de clientes. Spring, Angular y
                            Oracle SQL.</li>
                    </ul>
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card" fxFlex="60%">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Sodimac S.A</mat-card-title>
                        <mat-card-subtitle>04/2013 - 08/2017</mat-card-subtitle>
                        <img mat-card-sm-image src="sod.png" >
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <p>Analista TI</p>
                    <ul>
                        <li>Soporte, desarrollo e instalación de aplicaciones para la recepción en
                            tiendas de Chile, Perú y Uruguay. Java 6, MySql, Oracle SQL.</li>
                        <br>
                        <li>Desarrollo, soporte y publicación de aplicación móvil Sodimac y guía
                            Maestra. Android, Xcode, Ionic.</li>
                        <br>
                        <li>Desarrollo y soporte Base de datos SQL Server, con el fin de
                            almacenar datos de producto y el desarrollo de su ETL. SQL Server,
                            Python.</li>
                        <br>
                        <li>Manejo de perfiles Microsoft azure, administración de máquinas
                            virtuales, Api REST (Microservicios) y desarrollos .NET, C# y SQL
                            Server.</li>
                    </ul>
                </mat-card-content>
            </mat-card>                      
    </div>
</div>
<app-footer></app-footer>